<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlnI2vMiol_yb7ABvxeUt4Up4z8q8vI5g</string>
	<key>GCM_SENDER_ID</key>
	<string>657567100396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps15.Private-Browser</string>
	<key>PROJECT_ID</key>
	<string>private-browser-3b6eb</string>
	<key>STORAGE_BUCKET</key>
	<string>private-browser-3b6eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657567100396:ios:706cad0389ca3cae59a4c9</string>
</dict>
</plist>